.verify-action {

  .verify-action-container {
    width: 80vw;
    height: 300px;
    background-color: #fff;
    text-align: center;
    padding-top: 20px;

    .cvs-wrap {
      width: 200px;
      height: 100px;
      margin: 0 auto;
    }

    .tip-text {
    }

    .btn {
      width: 240px;
      height: 48px;
      background-color: #fff;
      border: 0;
      outline: none;
      font-size: 16px;

      &.btn-disabled {
        border: 1px solid #e5e5e5;
        background-color: #e5e5e5;
        color: #999;
      }

      &.btn-success {
        background-color: #75ffb1;
        color: #fff;
      }
    }
  }
}
